body {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    background-color: rgb(10, 82, 104);
    margin: 0;
    text-align: center;
}

header, footer {
    color: lightgray;
}

main {
    padding: .5rem;
    background-color:rgb(229, 228, 228);
}

h1 {
    margin: 1rem 0 0 0;
    padding: 0 2rem;
}

h3 {
    margin: 1rem 0 0 0;
    padding: 0 2rem 1rem 2rem;
}

menu {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin-top: 0;
}

a {
    /* color: rgb(21, 116, 147); */
    text-decoration: underline;
}

img {
    max-width: 100%;
}

.hide {
    display: none;
}

dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    margin: 0 auto;
    padding-top: 20vh;
}

dialog img {
    max-height: 100%;
    /* padding-top: 50%; */
}

.close-viewer {
    position: absolute;
    top:20vh;
}

@media screen and (min-width: 600px) {   
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) { 
    header h3 {
        display: none;
    }

    menu {
        display: block;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}