body {
    font-family: Helvetica, Arial, sans-serif;
    color: #473144;
    margin: 0;
}

header {
    margin: auto;
    text-align: center;
}

ul {
    padding: 0;
}

nav {
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #EFC69B;
}

nav ul {
    list-style: none;
    justify-self: right;
    display: grid;
    grid-template-columns: 75px 75px 75px 50px;
}

main {
    display: grid;
    grid-template-columns: 5fr 2fr;
}

h1, h2 {
    font-family: serif;
}

h2 {
    color: #AF1B3F;

}

a {
    color: #AF1B3F;
    text-decoration: none;
}

.skiptocontent a {
    position: absolute;
    top: -40px;
    left: 0;
}

.skiptocontent a:focus {
    top: 0;
    background-color: #EFC69B;
}

.book {
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 2rem 0 0 0;
}

.book div {
    padding: 0 15px;
}

.book p, h2, img {
    margin: 0 0 15px 0;
}

.book img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.book div:first-child {
    text-align: right;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #EFC69B;
}

.book div:first-child p:first-child {
    font-size: large;
}

#filter {
    border: #EFC69B 2px solid;
    margin: 2rem 3rem;
}